#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Symbol remaps for Japanese Windows while keeping the OS keyboard layout on JIS.

#define JP_DQUOTE      AT                // "
#define JP_AMPERSAND   CARET             // &
#define JP_QUOTE       AMPERSAND         // '
#define JP_EQUAL       UNDER             // =
#define JP_CARET       EQUAL             // ^
#define JP_YEN         0x89              // Yen / backslash
#define JP_PLUS        COLON             // +
#define JP_TILDE       PLUS              // ~
#define JP_PIPE        LS(0x89)          // |
#define JP_AT          LEFT_BRACKET      // @
#define JP_COLON       SINGLE_QUOTE      // :
#define JP_ASTERISK    DOUBLE_QUOTES     // *
#define JP_BACKQUOTE   LEFT_BRACE        // `
#define JP_UNDERSCORE  LS(0x87)          // _
#define JP_LBRACKET    RIGHT_BRACKET     // [
#define JP_RBRACKET    BACKSLASH         // ]
#define JP_LPAREN      ASTERISK          // (
#define JP_RPAREN      LEFT_PARENTHESIS  // )
#define JP_LBRACE      RIGHT_BRACE       // {
#define JP_RBRACE      PIPE              // }

/ {
    keymap {
        compatible = "zmk,keymap";

        base_alpha_layer {
            bindings = <
&mo 4      &none    &kp L  &kp U  &kp COMMA  &kp DOT                            &kp F  &kp W            &kp R  &kp Y  &none    &none
&none      &kp Q    &kp I  &kp A  &kp O      &kp MINUS                          &kp K  &kp T            &kp N  &kp S  &kp P    &none
&kp LCTRL  &lt 3 E  &kp X  &kp C  &kp V      &kp FSLH                           &kp G  &kp D            &kp M  &kp J  &lt 3 H  &kp DEL
&kp LSHFT  &kp Z    &none  &none  &kp LGUI   &mo 2      &lt 1 SPACE  &lt 1 RET  &mo 2  &lt 3 RIGHT_GUI  &none  &none  &kp B    &kp ESC
            >;
        };

        symbol_navigation_layer {
            bindings = <
&none   &none   &kp N7  &kp N8  &kp N9  &kp JP_PLUS       &kp DOLLAR     &kp HOME  &kp UP    &kp END    &kp PSCRN     &none
&none   &kp JP_ASTERISK   &kp N4  &kp N5  &kp N6  &kp MINUS         &kp PERCENT    &kp LEFT  &kp DOWN  &kp RIGHT  &none         &none
&trans  &kp EXCLAMATION            &kp N1  &kp N2  &kp N3  &kp FSLH          &kp JP_AMPERSAND  &kp JP_QUOTE  &kp JP_DQUOTE  &kp SEMICOLON  &kp JP_COLON  &trans
&trans  &kp N0      &none   &none   &none   &none      &trans  &trans  &none       &none     &none     &none      &kp JP_UNDERSCORE  &trans
            >;
        };

        shortcut_function_layer {
            bindings = <
&none     &none      &kp JP_BACKQUOTE  &kp JP_AT  &kp HASH  &none             &kp F10  &kp F7  &kp F8  &kp F9  &none  &none
&none     &none      &kp LC(S)  &kp TAB    &kp LS(TAB)  &none                &kp F11  &kp F4  &kp F5  &kp F6  &none  &none
&none  &kp LC(A)  &kp LC(X)  &kp LC(C)  &kp LC(V)    &none                &kp F12  &kp F1  &kp F2  &kp F3  &kp JP_UNDERSCORE  &trans
&kp LALT     &kp LC(Z)  &none      &none      &none        &none  &trans  &trans  &none    &none   &none   &none   &none  &trans
            >;
        };

        symbol_language_layer {
            bindings = <
&none   &none  &kp JP_CARET  &kp JP_LBRACKET  &kp JP_RBRACKET  &kp LANG2           &kp LG(L)   &kp LG(E)    &kp LG(R)  &none     &none  &none
&none   &none  &kp JP_TILDE  &kp JP_LPAREN    &kp JP_RPAREN    &kp LANG1           &kp JP_YEN  &kp JP_PIPE  &kp FSLH   &kp BSPC  &none  &none
&trans  &none  &none         &kp JP_LBRACE    &kp JP_RBRACE    &none               &none       &none        &kp LG(V)  &kp DEL     &none  &trans
&trans  &none  &none      &none           &none            &none      &trans  &trans  &none       &none        &none      &none     &none  &trans
            >;
        };

        bluetooth_control_layer {
            bindings = <
&none  &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                &none  &none  &none  &none  &none  &none
&none  &bt BT_CLR_ALL  &bt BT_CLR  &none         &none         &none                       &none  &none  &none  &none  &none  &none
&none  &none           &none           &none         &none         &none                       &none  &none  &none  &none  &none  &none
&none  &none           &none           &none         &none         &none         &trans  &trans  &none  &none  &none  &none  &none  &none
            >;
        };
    };
};
